manifest {
  author = 'Greg Gavelis'
}

resume = true

profiles {
    charlie {
        process {
            executor = 'pbspro'
            queueSize = 100000
            module = 'singularity/3.8.0'
            queue = 'low'

            errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
            memory = {1.GB * task.attempt}
            cpus = {1 * task.attempt}
            maxRetries = 3
            clusterOptions = '-W umask=0002 -l walltime=16:00:00 -koed -o /dev/null -e /dev/null'
        }
        singularity {
          sandbox = true
            enabled = true
            autoMounts = true
            runOptions = '--bind /mnt'
            cacheDir = '/mnt/scgc_nfs/containers/'
            pullTimeout = '200 min'
        }
        executor {
            submitRateLimit = 100
            queueSize = 500
        }
    }
}
